:root {
    background-color: #171c1f;
    height: 100vh;
}

video {
    box-sizing: border-box;
    border: 0.25rem solid #26784e;
    border-radius: 0.25rem;
    display: block;
    margin: 0 auto;
    width: 100vmin;
}
